section{
    padding: 1rem;
    width: 80vw;
    margin: 20px auto;
    border: 1px solid #ccc;
}

h1{
    font-size: 5rem;
    text-align: center;
}



@media screen and (max-width:520px) {
    h1{
        font-size: 2rem;     /* agar screen ≤ 520px hogi toh heading aur chhoti ho jaayegi */
        color: blue;         /* aur heading ka color blue ho jaayega */
    }
    section{
        background-color: lightblue;  /* section ka background lightblue ho jaayega */
    }
}

@media screen and (orientation:portrait){
    section{
        background-color: lightgreen; /* agar device portrait mode me hoga toh bg lightgreen */
    }
    section p{
        text-transform: uppercase;    /* aur section ke p tag uppercase me ho jaayenge */
    }
} 
*/



@media screen and (max-width:720px),(orientation:landscape){
    section{
        background-color: lightskyblue;  /* agar screen ≤ 720px ho ya landscape ho toh bg light sky blue */
    }
    h1{
        color: lightcoral;               /* aur heading ka color lightcoral ho jaayega */
    }
}
